{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false,
      "externalHelpers": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"],
      "@assets/*": ["./assets/*"]
    },
    "target": "esnext"
  },
  "sourceMaps": true
}
